body {
    font-family: 'Source Sans Pro', sans-serif;
}

::-moz-selection {
    color: #fff;
    background-color: #000;
}

::selection {
    color: #fff;
    background-color: #000;
}

/* ************************************************************************************************************ */

nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-brand .img-dark {
    display: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 0 15px;
    font-size: 13px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.last-nav-item {
    position: relative;
}

.last-nav-item::after {
    content: "";
    width: 1px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 18px;
    right: 0;
}

.last-nav-item::before {
    content: "";
    width: 1px;
    height: 46px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 1px;
    right: 0;
}

nav .social-icons .icon {
    margin: 0 10px;
}

nav .social-icons .icon i {
    font-size: 14px;
    cursor: pointer;
}

nav .social-icons .icon i:hover {
    color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 992px) {
    .navbar-brand .img-dark {
        display: inline;
    }
    .navbar-brand .img-light {
        display: none;
    }
    .bg-transparent {
        background-color: #fff !important;
    }
    .navbar-dark .navbar-brand {
        color: rgba(0, 0, 0, 0.9);
    }
    .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
        color: rgba(0, 0, 0, 0.9);
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 0.5);
    }
    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
        color: rgba(0, 0, 0, 0.7);
    }
    .navbar-dark .navbar-nav .nav-link.disabled {
        color: rgba(0, 0, 0, 0.3);
    }
    .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
        color: rgba(0, 0, 0, 0.9);
    }
    .navbar-dark .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.1);
    }
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-dark .navbar-text {
        color: rgba(0, 0, 0, 0.5);
    }
    .navbar-dark .navbar-text a {
        color: rgba(0, 0, 0, 0.9);
    }
    .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
        color: rgba(0, 0, 0, 0.9);
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #393939;
        padding: 15px 10px;
        font-weight: 500;
    }
    nav .social-icons {
        display: none;
    }
    .last-nav-item {
        position: static;
    }
    .last-nav-item::after {
        content: "";
        width: 0;
        height: 0;
        background-color: transparent;
        position: static;
    }
    .last-nav-item::before {
        content: "";
        width: 0;
        height: 0;
        background-color: transparent;
        position: static;
    }
}

/* ************************************************************************************************************ */

header .loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f;
    animation-name: loading;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes loading {
    0% {
        opacity: 1;
        z-index: 555555;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

header .spin {
    width: 50px;
    height: 50px;
    border: 0.7em solid white;
    border-right-color: transparent;
    border-radius: 50%;
}

header .slider-one {
    background-image: url(../imgs/bg-image-28.jpg);
    background-size: cover;
    background-position: top center;
}

header .slider-two {
    background-image: url(../imgs/bg-image-29.jpg);
    background-size: cover;
    background-position: top center;
}

header .layer {
    background-color: rgba(31, 31, 31, 0.55);
}

header .header-caption h1 {
    font-size: 6.25rem;
    margin: 20px 0 10px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    animation: home 0.5s 1s forwards;
    transition: all 1s;
    opacity: 0;
    transform: scale(0.7);
    transform-origin: center;
}

header .header-caption p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    animation: home 0.5s 1.5s forwards;
    transition: all 1s;
    opacity: 0;
    transform: scale(0.7);
    transform-origin: center;
}

header .header-caption .btn {
    margin-left: 10px;
    font-size: 0.87rem;
    color: #fff;
    padding: 14px 28px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
    animation: home 0.5s 2s forwards;
    opacity: 0;
}

header .header-caption .btn:hover {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}

header .header-caption .btn1 {
    background-color: #00c3da;
    border: 1px solid #00c3da;
}

header .header-caption .btn1:hover {
    color: #fff;
}

header .header-caption .btn2 {
    border: 1px solid #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

header .header-caption .btn2:hover {
    background-color: #fff;
    color: #1f1f1f;
}

@keyframes home {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

header .carousel-indicators {
    bottom: 25px;
    right: 0;
    z-index: 1;
}

header .arrow {
    top: 45%;
}

header .carousel-control-prev, header .carousel-control-next {
    width: 50px;
    height: 50px;
    border: 0.5px solid #fff;
    color: #fff;
    -webkit-transition: color 0.5s, background-color 0.5s;
    -o-transition: color 0.5s, background-color 0.5s;
    transition: color 0.5s, background-color 0.5s;
}

header .carousel-control-prev:hover, header .carousel-control-next:hover {
    color: #000;
}

header .carousel-control-prev::before, header .carousel-control-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all .3s;
    background-color: rgba(255, 255, 255, 0);
}

header .carousel-control-prev:hover::before, header .carousel-control-next:hover::before {
    width: 100%;
    background-color: #fff;
}

header .carousel-control-prev-icon, header .carousel-control-next-icon {
    background: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header .header-caption h1 {
        font-size: 4.25rem;
    }
    header .header-caption p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    header .header-caption h1 {
        font-size: 3.875rem;
    }
    header .header-caption p {
        font-size: 1rem;
    }
    header .carousel-control-prev, header .carousel-control-next {
        display: none;
    }
}

/* ************************************************************************************************************ */

#about {
    color: #1f1f1f;
    border-bottom: 1px solid #eee;
}

#about h6 {
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

#about p {
    font-size: 24px;
    margin: 20px 0;
    font-weight: 300;
    color: #787878;
}

#about p span::after {
    content: " |";
    color: #00c3da;
    font-weight: 400;
    font-size: 24px;
    -webkit-animation-name: typing;
    animation-name: typing;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes typing {
    0% {
        content: " s|";
    }
    6% {
        content: " so|";
    }
    12% {
        content: " sof|";
    }
    18% {
        content: " soft|";
    }
    24% {
        content: " softw|";
    }
    30% {
        content: " softwa|";
    }
    36% {
        content: " softwar|";
    }
    40% {
        content: " software|";
    }
    46% {
        content: " softwares|";
    }
    52% {
        content: " software|";
    }
    58% {
        content: " softwar|";
    }
    64% {
        content: " softwa|";
    }
    70% {
        content: " softw|";
    }
    76% {
        content: " soft|";
    }
    82% {
        content: " sof|";
    }
    88% {
        content: " so|";
    }
    94% {
        content: " s|";
    }
    100% {
        content: " |";
    }
}

@keyframes typing {
    0% {
        content: " s|";
    }
    6% {
        content: " so|";
    }
    12% {
        content: " sof|";
    }
    18% {
        content: " soft|";
    }
    24% {
        content: " softw|";
    }
    30% {
        content: " softwa|";
    }
    36% {
        content: " softwar|";
    }
    40% {
        content: " software|";
    }
    46% {
        content: " softwares|";
    }
    52% {
        content: " software|";
    }
    58% {
        content: " softwar|";
    }
    64% {
        content: " softwa|";
    }
    70% {
        content: " softw|";
    }
    76% {
        content: " soft|";
    }
    82% {
        content: " sof|";
    }
    88% {
        content: " so|";
    }
    94% {
        content: " s|";
    }
    100% {
        content: " |";
    }
}

#about button {
    border: 1px solid #dedede;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.05em;
    padding: 15px 30px;
    margin: 20px 0;
    border-radius: 0%;
    -webkit-transition: color 0.5s, background-color 0.5s, border 0.5s;
    -o-transition: color 0.5s, background-color 0.5s, border 0.5s;
    transition: color 0.5s, background-color 0.5s, border 0.5s;
}

#about button:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

/* ************************************************************************************************************ */

#team h2 {
    position: relative;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: #eee;
}

#team h3 {
    position: relative;
    bottom: 59px;
    font-size: 38px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
}

#team>span {
    position: relative;
    bottom: 40px;
    color: #787878;
    font-size: 18px;
    margin: 0;
}

#team .overlay {
    color: #fff;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 25px 17px;
    background-color: rgba(0, 195, 218, 0.9);
    opacity: 0;
    -webkit-transform: translateY(15%);
    -ms-transform: translateY(15%);
    transform: translateY(15%);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

#team .overlay:hover {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

#team .overlay .icon {
    width: 20px;
    height: 20px;
    margin-bottom: 50px;
    margin-right: 5px;
}

#team .overlay .icon i {
    font-size: 12px;
    font-weight: 600;
}

#team .overlay h5 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
}

#team .overlay span {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

/* ************************************************************************************************************ */

#services {
    background-color: rgba(0, 0, 0, 0.6);
}

#services .content i {
    color: #007067;
    font-size: 50px;
}

#services .content h5 {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
}

#services .desc h2 {
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    position: relative;
    right: 5px;
    color: rgba(255, 255, 255, 0.05);
}

#services .desc h3 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    position: relative;
    bottom: 65px;
    left: 3px;
}

#services .desc p {
    line-height: 1.5;
    position: relative;
    bottom: 55px;
    left: 3px;
    width: 80%;
}

#services .listing ul li {
    padding: 6px 0;
    line-height: 1.5;
    margin-bottom: 5px;
}

#services .listing ul li span {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    #services .md-cntr .desc {
        text-align: center;
    }
    #services .md-cntr .desc p {
        width: 100%;
    }
}

/* ************************************************************************************************************ */

#pricing {
    background-color: #f7f7f7;
}

#pricing .pricing-caption h2 {
    position: relative;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: #eee;
}

#pricing .pricing-caption h3 {
    position: relative;
    bottom: 59px;
    font-size: 38px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
}

#pricing .pricing-caption p {
    position: relative;
    bottom: 48px;
    color: #787878;
    font-size: 18px;
    margin: 0;
}

#pricing .pricing-table {
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    -webkit-transition: -webkit-box-shadow 0.5s;
    transition: -webkit-box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
    padding: 45px 35px;
}

#pricing .pricing-table:hover {
    -webkit-box-shadow: 0 0 65px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.1);
}

#pricing .pricing-table h5 {
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
}

#pricing .pricing-table h4 {
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
    font-size: 55px;
    font-weight: 500;
    letter-spacing: -3px;
    margin: 0;
}

#pricing .pricing-table h4 .dollar {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
    vertical-align: text-top;
}

#pricing .brdr {
    background-color: #eee;
    width: 200px;
    height: 1px;
    margin: 20px auto;
}

#pricing .pricing-table ul {
    list-style-type: none;
    padding-left: 0;
}

#pricing .pricing-table ul li {
    color: #787878;
    padding: 8px 0;
    font-weight: 500;
    font-size: 17px;
}

#pricing .pricing-table a {
    padding: 0 16px;
    font-size: 12px;
    line-height: 40px;
    color: #fff;
    background-color: #00c3da;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 10px 0;
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
}

#pricing .pricing-table a:hover {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}

#pricing .gold {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

#pricing .gold-inner span {
    background-color: #00c3da;
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 15px;
}

#pricing .gold h4, #pricing .pricing-table h4 .golden-dollar {
    color: #00c3da;
}

#pricing .client {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    display: inline-block;
}

#pricing .client {
    width: 100px;
    border-radius: 50%;
}

#pricing .pricing-slide {
    background-color: #fff;
    padding: 75px 20px;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
    width: 75%;
}

#pricing .pricing-slide h4 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: -0.03em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
}

#pricing .pricing-slide span {
    text-transform: uppercase;
    font-family: 'Poppins', serif;
    font-size: 12px;
    letter-spacing: 0.03em;
    font-weight: 500;
    color: #787878;
    display: inline-block;
    line-height: 1.5;
}

#pricing .pricing-slide p {
    margin: 40px auto 0;
    font-size: 18px;
    font-weight: 300;
    color: #787878;
    line-height: 1.5;
    width: 90%;
}

#pricing .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}

#pricing .carousel-indicators .active {
    background-color: #00c3da;
}

#pricing .carousel-control-next-icon {
    background: none;
}

#pricing .carousel-control-next-icon i {
    color: #787878;
    font-size: 24px;
    -webkit-transition: color 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, -webkit-transform 0.5s;
    -o-transition: color 0.5s, transform 0.5s;
    transition: color 0.5s, transform 0.5s;
    transition: color 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

#pricing .carousel-control-next-icon i:hover {
    color: #00c3da;
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
}

#pricing .carousel-control-prev-icon {
    background: none;
}

#pricing .carousel-control-prev-icon i {
    color: #787878;
    font-size: 24px;
    -webkit-transition: color 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, -webkit-transform 0.5s;
    -o-transition: color 0.5s, transform 0.5s;
    transition: color 0.5s, transform 0.5s;
    transition: color 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

#pricing .carousel-control-prev-icon i:hover {
    color: #00c3da;
    -webkit-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
    transform: translateX(-8px)
}

@media screen and (min-width: 992px) {
    #pricing .gold {
        -webkit-transform: scale(1.08, 1.1);
        -ms-transform: scale(1.08, 1.1);
        transform: scale(1.08, 1.1);
    }
}

@media screen and (max-width: 992px) {
    #pricing .pricing-slide {
        width: 100%;
    }
    #pricing .carousel-control-prev, #pricing .carousel-control-next {
        display: none;
    }
}

/* ************************************************************************************************************ */

#contact .map {
    width: 760px;
    height: 945px;
    margin: auto;
}

#contact .map iframe {
    width: inherit;
    height: inherit;
}

#contact .contact-us h2 {
    position: relative;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: #eee;
}

#contact .contact-us h3 {
    position: relative;
    bottom: 60px;
    left: 10px;
    font-size: 38px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
}

#contact .contact-us span {
    position: relative;
    bottom: 48px;
    color: #787878;
    font-size: 18px;
    margin: 0;
}

#contact .contact-us form label {
    color: #1f1f1f;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

#contact .contact-us form input {
    display: block;
    padding: 0 15px;
    width: 200%;
    font-size: 15px;
    line-height: 50px;
    border: 2px solid #eee;
    border-radius: 0;
    margin-bottom: 35px;
}

#contact .contact-us form textarea {
    display: block;
    resize: none;
    width: 200%;
    padding: 20px;
}

#contact .contact-us form button {
    background-color: #00c3da;
    color: #fff;
    padding: 0 30px;
    height: 50px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

#contact .contact-us form button:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

@media screen and (max-width: 1350px) {
    #contact .map {
        width: 700px;
    }
}

@media screen and (max-width: 1250px) {
    #contact .map {
        width: 600px;
    }
    #contact .contact-us form input, #contact .contact-us form textarea {
        width: 167%;
    }
}

@media screen and (max-width: 1050px) {
    #contact .map {
        width: 500px;
    }
    #contact .contact-us form input, #contact .contact-us form textarea {
        width: 145%;
    }
}

@media screen and (max-width: 992px) {
    #contact .map {
        width: 900px;
        margin: auto;
    }
    #contact .contact-us {
        margin: auto;
    }
    #contact .contact-us form input, #contact .contact-us form textarea {
        width: 200%;
    }
}

@media screen and (max-width: 576px) {
    #contact .contact-us form input, #contact .contact-us form textarea {
        width: 170%;
    }
}